<!-- This page is inheriting everything from the base template -->
{% extends "base.html" %}

<!-- This block tag is overriding the title block tag from the base template -->
{% block title %} Body {% endblock %}

<!-- This block tag is overriding the banner block tag from the base template -->
{% block banner %}

{% endblock %}
<!-- This block tag is overriding the content block tag from the base template -->
{% block content%}
<div>
  <h1 class="text-center mt-2 mb-2"> About </h1>
  <p> My life revolves around essential priorities. These serve as the foundation that guide my actions and decisions, and give me a sense of purpose and direction.
  </p>
{% endblock %}